h2 {
    color: var(--yellow);
    font-size: 2.5vi;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main ul {
    list-style-type: none;
}
main li > ul {
    list-style-image: url(../images/objectShrunk.png);
}
main a:not([class="notLearnMore"]) {
    display: inline-block;
    position: relative;
    inset-block-end: 0.3em;
    padding: 0.5em;
    border: 0.1em solid, var(--tertiaryDark);
    border-radius: 1em;
    color: var(--yellow);
    margin-block: 0.3em;
    inline-size: 90%;
    background: radial-gradient(var(--secondaryDark), var(--mainDark));
    font-size: 2.5vi;
}
@media all and (min-width: 768px) {
    main {
        padding-inline: 3vi;
    }
    #links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #geology {
        grid-column: 1;
        padding-inline-end: 0.6em;
        border-inline-end: 0.1em solid var(--tertiaryDark);
    }
    #competitors {
        grid-column: 2;
        padding-inline-start: 0.6em;
        margin-inline-start: 0.4em;
        border-inline-start: 0.1em solid var(--tertiaryDark);
    }
    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    }
    h2 {
        font-size: 1em;
    }
    main a:not([class="notLearnMore"]) {
        font-size: 1em;
    }
    main a:not([class="notLearnMore"]):hover {
        background: radial-gradient(var(--tertiaryDark), var(--mainDark));
    }
}