#story {
    padding-block-end: 0.6em;
    border-block-end: 0.1em solid var(--tertiaryDark);
}
#testimonials {
    padding-block-start: 0.6em;
    margin-block-start: 0.4em;
    border-block-start: 0.1em solid var(--tertiaryDark);
}
#staff {
    display: grid;
    gap: 0.8em;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#staff li {
    display: flex;
}
#staff li img {
    size: 20ex;
    padding: 0;
    border-radius: 1em;
    border: var(--border);
}
video {
    inline-size: 50%;
    border-radius: 1em;
}
@media all and (min-width: 1300px) {
    main {
        display: grid;
        grid-template-columns: 4fr 6fr;
    }
    #story {
        padding-block-end: 0;
        border-block-end: none;
        padding-inline-end: 0.6em;
        border-inline-end: 0.1em solid var(--tertiaryDark);
    }
    #testimonials {
        padding-block-start: 0;
        margin-block-start: 0;
        border-block-start: none;
        padding-inline-start: 0.6em;
        margin-inline-start: 0.4em;
        border-inline-start: 0.1em solid var(--tertiaryDark);
    }
    #videoh1 {
        text-align: center;
    }
    video {
        inline-size: 80%;
        margin-inline-start: 12%;
    }
}